:root {
    /* https://colordesigner.io/gradient-generator/?mode=lch#203F65-6AABEC */
    --color0: #203f65;
    --color1: #284a73;
    --color2: #305581;
    --color3: #396190;
    --color4: #416c9f;
    --color5: #4979ae;
    --color6: #5185bd;
    --color7: #5a91cc;
    --color8: #629edc;
    --color9: #6aabec;
}